.main-content {
  min-height: calc(100vh - 96px);
  padding-top: 40px;
  background-color: #f5f7fa;
}

.loader-books {
  padding-top: 40px;
  display: block;
  width: 20%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .loader-books {
    width: 40%;
  }
}
