.list-item,
.list-item--done {
  padding: 14px;
}

.item-wrapper {
  display: flex;
  justify-content: space-between;
}

.dropdown-list {
  min-width: 90px;
}

.dropdown-btn {
  width: 100%;
}

.label {
  padding-top: 12px;
}
